<main>

  <!--About me -->
  <app-about-me></app-about-me>
  <div class="sideline"></div>
  <!--Hard skills-->
  <app-hard-skills></app-hard-skills>
  <div class="sideline"></div>
    <!--Formations/Experiences-->
  <app-formations-experiences></app-formations-experiences>
  <div class="sideline"></div>
  <!--Soft Skills / Languages-->
  <app-soft-skills-languages></app-soft-skills-languages>
  <div class="sideline"></div>
  <!--Points of Interests-->
  <app-points-of-interests></app-points-of-interests>


</main>
