main{
  .page-size-container{
    display: flex;
    position: relative;
    flex-direction: column;
    min-height: 100vh;
    max-height: 100vh;
    width: 100vw;

    .up-arrow, .down-arrow{
      position: absolute;

    }

    .down-arrow{
      bottom: 3.5vh;
      left: calc(50vw - (24px / 2));
      svg{
        transform: rotate(180deg);
      }
    }

    .up-arrow{
      top: 12.5vh;
      left: calc(50vw - (24px / 2));
    }

    header{
      display: flex;
      align-items: center;
      height: 70px;
      width: 100%;
      border-top: solid black 6px;
      padding: 20px 0 4px 0;
      h2{
        font-size: 26px;
        font-weight: 700;
        margin: 0 20px;
      }
    }

    article{
      display: flex;
      align-items: center;
      flex-direction: column;
      text-align: center;
      margin: auto 0;

      .about-section-text-left img{
        margin-right: 70px;
      }
      .about-section-text-right img{
        margin-left: 70px;
      }

      section{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: calc(100% - 36px);
        margin: 23px 18px;

        &:first-child{
          margin-top: 38px;
        }
        &:last-child{
          margin-bottom: 38px;
        }
        img{
          width: 80px;
        }
        p{
          font-weight: 500;
          line-height: 27px;
          font-size: 18px;
        }
      }

      aside{
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: center;
        text-align: left;
        margin: 23px 18px;
        font-weight: 300;

        h3{
          width: 100%;
          font-size: 18px;
          margin-bottom: 18px ;
        }
        p{
          width: 320px;
          font-size: 13px;
          line-height: 20px;
          mask-image: linear-gradient(rgba(0, 0, 0, 0.9) 0%, transparent 45%);
        }
        button{
          position: absolute;
          bottom: 25px;
          background: none;
          border: none;
          width: fit-content;
          cursor: pointer;
          svg{
            scale: 120%;
          }
        }
      }
    }
  }

  #hard-skills{
    ul{
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      min-height: 75%;
      margin: auto;

      li{
        font-size: 21px;
        font-weight: 500;
        margin: 25px 0;
      }
    }
  }

  #formations-experiences{
    article{
      margin: auto;
    }
    ul{
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;
    }
    li{
      margin: 25px 0;
      p{
        font-size: 18px;
        font-weight: 300;
        margin: 3px;
      }
    }
    .line{
      margin: 30px auto;
    }
  }

  #soft-skills-languages{
    article{

      svg{
        margin: 35px 0 27px 0;
      }
      section{
        margin: 15px auto;
        p{
          font-size: 21px;
          font-weight: 500;
        }
      }
    }

    .soft-skills-section{
      img{
        width: 70px;
      }
      p{
        margin: auto 30px;
      }
    }
    .languages-section{
      img{
        margin-right: 15px;
      }
      svg{
        width: 80px;
        border-radius: 15px;
        margin: 0 0 0 15px;
      }
    }
  }

  #points-of-interests{
    article{
      margin: auto;
    }
    p{
      margin: 0 30px;
    }
  }
}
