#formations-experiences{
  display: flex;
  position: relative;
  flex-direction: column;
  min-height: var(--screenInnerHeight);
  max-height: var(--screenInnerHeight);
  width: 100vw;

  header{
    display: flex;
    align-items: center;
    height: 70px;
    width: 100%;

    h2{
      font-size: 26px;
      font-weight: 700;
      text-indent: 20px;
    }
  }

  .up-arrow, .down-arrow{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: auto;
  }

  .down-arrow {
    svg{
      transform: rotate(180deg);
    }
  }

  article{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: auto;

    ul{
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;

      li{
        margin: 25px 0;
        p{
          font-size: 18px;
          font-weight: 300;
          margin: 3px;
        }
      }
    }
  }




  .line{
    margin: 30px auto;
  }
}
