#formations-experiences {
  display: flex;
  position: relative;
  flex-direction: column;
  min-height: var(--screenInnerHeight);
  max-height: var(--screenInnerHeight);
  width: 100vw;

  h2 {
    display: flex;
    align-items: flex-end;
    height: 50px;
    width: calc(100vw - 20px);
    font-size: 26px;
    font-weight: 700;
    margin-left: 20px;

    br {
      display: none;
    }
  }

  .up-arrow, .down-arrow {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: auto;
  }

  .down-arrow {
    svg {
      transform: rotate(180deg);
    }
  }

  article {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;

    ul {
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;

      li {
        margin: 15px 0;

        p {
          font-size: 15px;
          font-weight: 300;
          line-height: 20px;

          b {
            font-weight: 500;
          }
        }
      }
    }
  }

  .line {
    margin: 30px auto;
  }
}

// RESPONSIVE

@media screen and (max-width: 390px) {
  #formations-experiences {
    h2 {
      height: 60px;
      font-size: 20px;

      br {
        display: block;
      }
    }
  }
}

