#points-of-interests {
  display: flex;
  position: relative;
  flex-direction: column;
  min-height: var(--screenInnerHeight);
  max-height: var(--screenInnerHeight);
  width: 100vw;

  h2 {
    display: flex;
    align-items: flex-end;
    height: 50px;
    width: 100%;
    font-size: 26px;
    font-weight: 700;
    text-indent: 20px;
  }

  .up-arrow, .down-arrow {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: auto;
  }

  .down-arrow {
    svg {
      transform: rotate(180deg);
    }
  }

  article {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;

    section {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: calc(100% - 36px);
      margin: 23px 18px;

      p {
        margin: 0 30px;
        font-weight: 500;
        line-height: 27px;
        font-size: 21px;
      }

      img {
        width: 60px;
      }
    }
  }

}

@media screen and (max-width: 390px) {
  #points-of-interests {
    article {
      section {
        justify-content: space-evenly;

        &:nth-child(even) {
          :nth-child(1) {
            display: none;
          }
        }

        &:nth-child(odd) {
          :nth-child(3) {
            display: none;
          }
        }

        p {
          margin: 0;
        }
      }
    }


  }
}




























