#soft-skills-languages{
  display: flex;
  position: relative;
  flex-direction: column;
  min-height: var(--screenInnerHeight);
  max-height: var(--screenInnerHeight);
  width: 100vw;

  header {
    display: flex;
    align-items: center;
    height: 70px;
    width: 100%;

    h2{
      font-size: 26px;
      font-weight: 700;
      text-indent: 20px;
    }
  }

  .up-arrow, .down-arrow{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: auto;
  }

  .down-arrow {
    svg{
      transform: rotate(180deg);
    }
  }

  article{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: auto 0;

    section{
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      width: calc(100% - 36px);
      margin: 15px auto;

      img{
        width: 60px;
      }

      .french{
        width: fit-content;
      }

      p{
        line-height: 27px;
        font-size: 21px;
        font-weight: 500;
      }
    }
  }
}
