#about-me{
  display: flex;
  position: relative;
  flex-direction: column;
  min-height: var(--screenInnerHeight);
  max-height: var(--screenInnerHeight);
  width: 100vw;

  h2{
    display: flex;
    align-items: flex-end;
    height: 50px;
    width: 100%;
    font-size: 26px;
    font-weight: 700;
    text-indent: 20px;
  }

  .up-arrow, .down-arrow{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: auto;
  }

  .down-arrow{
    svg{
      transform: rotate(180deg);
    }
  }

  article{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: auto;

    section{
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      width: calc(100% - 36px);
      margin: 10px 18px;

      p{
        font-weight: 600;
        line-height: 24px;
        font-size: 15px;
        max-width: 60%;
        letter-spacing: 1.5px;
      }
      img{
        width: 70px;
      }
    }

    aside{
      display: flex;
      position: relative;
      flex-direction: column;
      align-items: center;
      height: 195px;
      text-align: left;
      margin: 23px 18px;
      font-weight: 300;

      h3{
        width: 100%;
        font-size: 15px;
        margin-bottom: 18px ;
      }
      #about-me-text-box{
        width: fit-content;
        height: fit-content;
        position: relative;

        #about-me-box{
          width: 100%;
          height: 100%;
          position: absolute;
          background: linear-gradient(transparent 0%, rgba(255, 255, 255, 1) 45%);
          z-index: 1;
        }
        p{
          height: fit-content;
          width: 320px;
          font-size: 13px;
          line-height: 20px;
        }
      }
      button{
        width: fit-content;
        position: absolute;
        bottom: 20px;
        background: none;
        border: none;
        z-index: 1;
        cursor: pointer;
        svg{
          scale: 120%;
        }
      }
    }
  }
}

// RESPONSIVE

@media screen and (max-width: 390px) {
  #about-me {
    h2 {
      font-size: 20px;
    }
    article{
      aside{
        #about-me-text-box{
          p{
            width: auto;
          }
        }
      }
    }
  }
}



















