#about-me{
  display: flex;
  position: relative;
  flex-direction: column;
  min-height: var(--screenInnerHeight);
  max-height: var(--screenInnerHeight);
  width: 100vw;

  header{
    display: flex;
    align-items: end;
    height: 50px;
    width: 100%;

    h2{
      font-size: 26px;
      font-weight: 700;
      text-indent: 20px;
    }
  }

  .up-arrow, .down-arrow{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: auto;
  }

  .down-arrow{
    svg{
      transform: rotate(180deg);
    }
  }

  article{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: auto 0;

    section{
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      width: calc(100% - 36px);
      margin: 10px 18px;

      p{
        font-weight: 500;
        line-height: 27px;
        font-size: 15px;
        max-width: 60%;
      }
      img{
        width: 70px;
      }
    }

    aside{
      display: flex;
      position: relative;
      flex-direction: column;
      align-items: center;
      text-align: left;
      margin: 23px 18px;
      font-weight: 300;

      h3{
        width: 100%;
        font-size: 15px;
        margin-bottom: 18px ;
      }
      p{
        height: 80px;
        width: 320px;
        font-size: 13px;
        line-height: 20px;
        mask-image: linear-gradient(rgba(0, 0, 0, 0.9) 0%, transparent 45%);
      }
      button{
        position: absolute;
        bottom: 0;
        background: none;
        border: none;
        width: fit-content;
        cursor: pointer;
        svg{
          scale: 120%;
        }
      }
    }
  }


}
