header{
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.55);
  background-attachment: fixed;
  background-position: 70%;
  background-image: url("../assets/backgrounds/forest-low-brightness.jpg") ;
  background-size: cover;

  h1{
    color: white;
    font-weight: 900;
    font-size: 45px;
    text-align: center;
    line-height: 68px;
  }

  a{
    position: absolute;
    bottom: 3.5vh;
    left: calc(50vw - (24px / 2));
    svg{
      transform: rotate(180deg);
    }
  }
}
