#hard-skills{
  display: flex;
  position: relative;
  flex-direction: column;
  min-height: var(--screenInnerHeight);
  max-height: var(--screenInnerHeight);
  width: 100vw;

  header {
    display: flex;
    align-items: center;
    height: 70px;
    width: 100%;

    h2{
      font-size: 26px;
      font-weight: 700;
      text-indent: 20px;
    }
  }

  .up-arrow, .down-arrow{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: auto;
  }

  .down-arrow {
    svg{
      transform: rotate(180deg);
    }
  }

  ul{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    min-height: 75%;
    margin: auto;

    li{
      font-size: 21px;
      font-weight: 500;
      margin: 25px 0;
    }
  }


}
